<div
  class="border-border w-full max-w-full min-w-0 overflow-x-auto rounded-md border"
>
  <table nv-table class="w-full min-w-max">
    <thead nv-table-header>
      @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
      <tr nv-table-row>
        @for (header of headerGroup.headers; track header.id) {
        <th
          [attr.colspan]="header.colSpan"
          nv-table-head
          class="text-muted-foreground px-4 py-3 text-left text-xs font-medium tracking-wider uppercase"
        >
          <ng-container
            *flexRender="
              header.column.columnDef.header;
              props: header.getContext();
              let headerRender
            "
          >
            <div [innerHTML]="headerRender"></div>
          </ng-container>
        </th>
        }
      </tr>
      }
    </thead>

    <tbody nv-table-body>
      @for (row of table.getRowModel().rows; track row.id) {
      <tr nv-table-row class="hover:bg-muted/50 border-b transition-colors">
        @for (cell of row.getVisibleCells(); track cell.id) {
        <td nv-table-cell class="px-4 py-3 text-sm">
          <ng-container
            *flexRender="
              cell.column.columnDef.cell;
              props: cell.getContext();
              let cellRender
            "
          >
            <div [innerHTML]="cellRender"></div>
          </ng-container>
        </td>
        }
      </tr>
      } @empty {
      <tr nv-table-row>
        <td
          nv-table-cell
          [attr.colspan]="table.getAllLeafColumns().length"
          class="text-muted-foreground h-24 text-center"
        >
          No hay registros operativos para el período o sede seleccionada.
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
