@let localInvalidCredentials = invalidCredentials();
@let isLoadingLocal = isLoading();
<section class="flex-center min-h-screen">
  <nv-card class="md:min-w-md flex-center flex-col gap-8 md:gap-10 p-6 md:p-12">
    <nv-card-header class="flex-center gap-2 p-0!">
      <ng-icon name="nivo-logo-horizontal" class="text-foreground text-center w-36! h-16!" />
      <span class="flex-center flex-col gap-2">
        <nv-card-title class="text-center text-2xl">{{ texts.title }}</nv-card-title>
        <nv-card-description>{{ texts.description }}</nv-card-description>
      </span>
    </nv-card-header>
    <nv-card-content class="w-full flex flex-col p-0!">
      <form novalidate class="w-full flex-center flex-col gap-6" (submit)="onSubmit($event)">
        <nv-input
          class="w-full"
          [label]="texts.form.email.label"
          [placeholder]="texts.form.email.placeholder"
          [formField]="loginForm.email"
          [error]="onError('email')"
        />
        <nv-input
          class="w-full"
          [label]="texts.form.password.label"
          type="password"
          [placeholder]="texts.form.password.placeholder"
          [formField]="loginForm.password"
          [error]="onError('password')"
        />
        <div class="flex flex-col w-full gap-2 text-xs">
          <span class="min-h-5">
            @if (localInvalidCredentials) {
              <nv-p class="text-destructive text-sm font-medium" aria-live="polite" role="alert">
                {{ texts.errors.invalidCredentials }}
              </nv-p>
            }
          </span>
          <nv-button
            class="w-full cursor-pointer"
            type="submit"
            size="md"
            [disabled]="!loginForm().valid()"
          >
            {{ texts.actions.submit }}
            @if (isLoadingLocal) {
              <ng-icon name="lucideLoader" class="animate-spin duration-75" size="16"></ng-icon>
            }
          </nv-button>
          <span class="flex-center flex-col gap-2 f">
            <nv-muted
              >{{ texts.actions.noAccount }}
              <a
                routerLink="/auth/register"
                class="text-primary hover:underline underline-offset-2 cursor-pointer font-medium"
              >
                {{ texts.actions.register }}
              </a></nv-muted
            >
            <nv-muted class="hover:underline cursor-pointer">{{
              texts.actions.forgotPassword
            }}</nv-muted>
          </span>
        </div>
      </form>
    </nv-card-content>
  </nv-card>
</section>
