<nv-button
  variant="default"
  size="md"
  (click)="facade.onManageOperations()"
  class="whitespace-nowrap"
>
  <ng-icon name="lucideLogIn" size="16" class="shrink-0" />
  <span class="whitespace-nowrap">Operaciones en vivo</span>
</nv-button>

<div class="flex items-center border border-muted rounded-md">
  <nv-button
    variant="outline"
    size="md"
    (click)="facade.onManageRates()"
    class="whitespace-nowrap border-0 rounded-r-none"
  >
    <ng-icon name="lucideCoins" size="16" class="text-primary shrink-0" />
    <span class="whitespace-nowrap">Tarifas</span>
  </nv-button>

  <nv-divider orientation="vertical"></nv-divider>

  <nv-button
    variant="outline"
    size="md"
    (click)="facade.onManageSlots()"
    class="whitespace-nowrap border-0 rounded-l-none"
  >
    <ng-icon
      name="lucideParkingSquare"
      size="16"
      class="text-primary shrink-0"
    />
    <span class="whitespace-nowrap">Plazas</span>
  </nv-button>
</div>

<app-meatball-menu [items]="menuItems" />
