<div
  class="text-muted-foreground mt-4 flex items-center justify-between gap-4 text-sm max-[900px]:flex-col max-[900px]:items-stretch"
>
  <span>Mostrando {{ currentItems() }} de {{ countItems() }} </span>
  <div class="flex items-center gap-2">
    <button
      class="border-border inline-grid h-8 min-w-8 place-items-center rounded-lg border bg-transparent"
      [disabled]="getCanPreviousPage()"
      (click)="previousPage()"
    >
      <ng-icon name="lucideChevronLeft" size="14"></ng-icon>
    </button>
    <span
      class="border-border bg-background text-primary inline-grid h-8 min-w-8 place-items-center rounded-lg border"
    >
      {{ currentPage() + 1 }}
    </span>
    <span>de {{ countPages() }}</span>
    <button
      class="border-border inline-grid h-8 min-w-8 place-items-center rounded-lg border bg-transparent"
      [disabled]="getCanNextPage()"
      (click)="nextPage()"
    >
      <ng-icon name="lucideChevronRight" size="14"></ng-icon>
    </button>
  </div>
</div>
