@let name = user()?.fullName; @let email = user()?.email;

<div
  class="flex flex-col justify-center gap-1 px-3 text-sm"
  [class.px-3]="!collapsed()"
  [class.px-0]="collapsed()"
>
  <div class="flex flex-col overflow-hidden">
    <span
      class="inline-flex items-center truncate text-sm font-medium"
      [class.gap-2]="!collapsed()"
      [class.justify-center]="collapsed()"
      [attr.title]="collapsed() ? (name || 'Invitado') : null"
    >
      <img
        [src]="userProfileImage()"
        alt=""
        class="size-8 shrink-0 rounded-full"
      />
      @if (!collapsed()) {
      <span class="flex flex-col">
        <span>{{ name || 'Invitado' }}</span>
        <span class="text-muted-foreground text-xs">{{ email }}</span>
      </span>
      }
    </span>
  </div>
</div>
